*
{
margin: 0;
padding: 0
}

body
{
display:table;
padding: 2px;
}

div#lewaKolumna
{
display: table-cell;
width: 300px;
margin: 10px;
padding: 0 5px;
vertical-align: top;
}

div#tytul
{
height: 30px;
}

div#tytul h1
{
margin: 5px auto;
text-align: center;
font-size: 16pt;
}

div#mapa
{
vertical-align: top;
display: table-cell;
height: 665px;
width: 700px;
margin: 5px auto;
border: 1px solid #000;
}

object#mapa_svg
{
height: 100%;
width: 100%;
}

object#mapa_svg p
{
background: red;
text-align: center;
margin: 10px;
padding: 10px;
color: white;
}

div#legenda
{
border: 1px solid #AAA;
padding: 2px;
height: 630px;
}