#pol { stroke:#003300; fill:#EEEEEE; }
#woj { stroke:#002200; fill:rgba(0,0,0,0); }
#pow { stroke:#005500; stroke-width:0.1; fill:rgba(0,0,0,0); }
#miasta polygon { fill: #CCCCCC; stroke:white; }
#miasta > polygon.miastop { fill: #888888; }
#drogi { fill: none; stroke:red; }
#drogi .s { stroke:green;}