fieldset {
padding : 5px;
margin : 10px ;
border : 2px solid #f2f7c2;
border-radius : 10px;
}
fieldset > legend {
margin: 0 10px;
font-size : 12px;
color : #f4443f;
padding : 3px 20px;
font-weight : bold;
}
fieldset > label {
display: inline-block;
width: 150px ;
position: relative;
z-index: 25;
text-align: right;
margin: 10px 0;
}
fieldset > label > dfn {
display: none;
position: absolute;
line-height:1.3em;
top: 1.5em;
border: 1px solid #ffd105;
background-color: #fff9c8;
text-align: left;
width: 25em;
text-decoration: none;
color: #000;
padding: 2px;
border-radius: 5px ;
}

fieldset > label:hover {
z-index: 26;
}
fieldset > label:hover > dfn {
display: block;
}
fieldset input, fieldset textarea  {
display: inline-block;
width: 250px ;
margin: 5px 0;
border-radius: 5px ;
border: 1px solid transparent;
padding: 1px ;
background: #abcdef;
}
fieldset input:hover, fieldset textarea:hover {
background-color: #efe;
}
input[type=button]{
width: 150px ;
height: 30px ;
font-weight: bold;
font-size: 12pt;
display: block;
margin: 10px auto;
}